body {
    background-color: #000002;
}

h1 {
    color: rgb(104, 220, 255);
    font-family: cursive;
}

img {
    background-color: rgb(104, 220, 255);
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    display: block;
}