body {
    font-family: cursive;
    background-color: #000002;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(104, 220, 255);
}

.conteneur {
    text-align: center;
    padding: 20px;
    border: 10px solid rgb(104, 220, 255);
    border-radius: 50px;
    padding: 10px;
}